<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The best true crime podcasts from UK, Australia and USA">
    <meta name="author" content="Mal C-U">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Someone knows something - {{title}}</title>
</head>
<body>
    <div class="container-fluid p-0 mx-auto">
        <div class="row pt-4 mx-auto">
            <div class="col-12 text-center home-header">
                <h1 class="py-2">{{head}}</h1>
            </div>
            <div class="col-12 pt-2">
                <div class="row mx-0">
                    <div class="col-12 text-center">
                        <div class="fof-container col-12 mb-2"></div>
                        <h2 class="py-2"> Requested URL has not been found. Please try one of the following links.
                        </h2>
                        <div class="card-body">
                            <a role="button" class="btn btn-info" href="{{url_for('index')}}"
                                aria-label="Home page">Home</a>
                            <a role="button" class="btn btn-warning" href="{{url_for('login')}}"
                                aria-label="Login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>