{% extends "layout/base.html" %}
{% block content %}
<div class="col-12 text-center home-header">
    <h1 class="text-uppercase py-2">True crime podcasts</h1>
</div>
<div class="col-12 pt-3">
    <div class="row mx-0">
        <div class="col-sm-12 text-center">
            <div class="col-12 hero-container mb-2"></div>
            <div class="home-bottom mt-2">
                <h1 class="pb-2 mt-3">Sign up to discover a whole new world of drama.</h1>
                <div class="py-3">
                    <p class="index-bottom-button">Already Registered?</p>
                    <a class="btn btn-info mx-3 index-bottom-button" href="{{url_for('login')}}"
                        aria-label="Login here">Login here</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}