{% extends 'layout/base.html' %} {% block content %}
{% if podcast %}
<div class="col-12 text-center home-header">
    <h1 class="py-2">{{podcast.podcast_title}}</h1>
</div>
<div class="col-12 pt-2">
    <div class="row mx-0">
        <div class="col-sm-12 col-md-6 text-center">
            <img class="card-img-top index-img" src="{{podcast.podcast_imgurl}}">
            <div class="card-body">
                <h5 class="card-title text-center">Released in {{podcast.release_year}}</h5>
                <p class="card-text">{{podcast.description}}</p>
                <p class="card-text">Number of episodes: {{podcast.no_episodes}}</p>
                {% if 'username' in session %}
                <a role="button" class="btn btn-info mb-4" href="{{podcast.podcast_link}}" target="_blank"
                    rel="noopener" aria-label="Listen to {{podcast.podcast_title}} here">Listen here</a>
                {% else %}
                <a role="button" class="btn btn-info mb-4" href="{{url_for('login')}}" aria-label="Login">Login to
                    Listen</a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-10 offset-sm-1 col-md-4 offset-md-1 text-center d-flex align-items-center justify-content-center py-2"
            id="register-wrapper">
            <form action="" method='POST'>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.password.label(class="form-control-label form-label")}}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid")}}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                        <span> {{error}} </span>
                        {% endfor %}
                    </div>
                    {% else %}
                    {{ form.password(class="form-control form-control-lg")}}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-warning")}}
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endif %}
{% endblock %}