/*Font import*/
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Mono:300,400,500,700&display=swap');

body {
    color: #000;
    font-family: 'Roboto', sans-serif;
}

/*Sidebar customization*/
#sidebar-wrapper {
    background-color: #36454f;
    color: #fad201;
    width: 15rem;
    top: 0;
    left: 0;
    padding-top: 5rem;
    min-height: 100vh;
    z-index: 999;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
}

.no-sidebar-wrapper {
    margin-left: -15rem;
}

#logo {
    max-width: 12rem;
}

.sidebar-item {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 3px;
    text-align: center;
}

/*Main navbar customization*/
.nav-link:link,
.navbar-brand:link,
.navbar-collapse .navbar-nav .dropdown #navbarDropdown:link {
    color: #ffffff;
}

.nav-link:visited,
.navbar-brand:visited,
.navbar-collapse .navbar-nav .dropdown #navbarDropdown:visited {
    color: #ffffff;
}

.nav-link:hover,
.navbar-brand:hover,
.navbar-collapse .navbar-nav .dropdown #navbarDropdown:hover {
    color: #fad201;
}

.navbar {
    background-color: #36454f;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
}

/*Customized toggle buttons for sidebar and navbar*/
.fa-fingerprint,
.fa-bars {
    font-size: 1.5rem;
    color: #fad201;
}

.fa-fingerprint:hover,
.fa-bars:hover {
    color: #fff;
}

/* Customized main page part to be visible at all times and scrollable */
#page-content {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 5rem;
}

.home-header h1 {
    background-color: #fad201;
    font-family: 'Oswald', sans-serif;
    color: #000;
    letter-spacing: 0.3rem;
    font-weight: 700;
}

.home-bottom h1 {
    font-family: 'Oswald', sans-serif;
    color: #000;
    letter-spacing: 0.3rem;
    font-weight: 700;
}

.index-img {
    width: 12rem;
    height: 15rem;
}

.index-bottom-button {
    display: inline;
}

.hero-container {
    background-image: url(../img/indexpic.jpg);
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Footer customization*/
footer {
    background-color: #36454f;
    color: #fad201;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 15rem;
    height: 2rem;
}

.footer-icon:hover {
    color: #fff;
    font-size: 1.5rem;
}

footer a {
    color: #fad201;
}

.form-label {
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-weight: 500;
}

/*Origin page podcast display customization*/
.img-origin {
    width: 10rem;
}

.origin-title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

/*Pages with forms customization*/
#register-wrapper {
    background-color: #ffffbf;
}

.form-check {
    list-style: none;
    font-size: 1.25rem;
}

/*My account add_podcast button customization*/
#add-button {
    padding-bottom: 1.5rem;
}

/* Bootstrap button classes customised */
.btn-info {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #000;
}

.btn-warning {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

/* Media */
@media (max-width: 540px) {
    #sidebar-toggle {
        display: none;
    }

    #sidebar-wrapper {
        display: none;
    }
}

@media (min-width: 541px) {
    .navbar-brand {
        display: none;
    }
}

@media (min-width: 1024px) {
    .hero-container {
        background-size: contain;
    }
}