/*Font inport*/
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Roboto+Mono:300,400,500,700&display=swap');
/*
body{}
*/

#sidebar_wrapper {
    background-color: #36454f ;
    color: #fad201;
    width: 250px;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    transition: all 0.3s;
}
#logo {
    max-width: 15em;
}
.sidebar-item{
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
}
.sidebar-link:visited {
    color: #fff;
}

.sidebar-link:hover {
    color: #fad201;
}
