{% extends 'layout/base.html' %} {% block content %}

<div class="col-12 text-center home_header">
    <h1 class="text-uppercase py-2">True crime podcasts</h1>
</div>

<div class="col-12 pt-5" id="index_wrapper">

    <div class="row mx-0">
        
        <div class="col-sm-12 text-center pb-3">
                <div class="col-12 hero_container"></div>
                <div class="col-12 py-2">
                    <ul>
                        <li class="index_li">Too squimish to watch a crime film?</li>
                        <li class="index_li">Lacking time to watch your favourtie drama on TV?</li>
                        <li class="index_li">Constant car travel means no time for good thriller book?</li>
                    </ul></div>
                <div class="home_header pb-3">
                    <h1 class="pb-2" >Sign up and discover true crime podcasts.</h1>
                </div>
        
    </div>

</div>



{% endblock %}