{% extends 'layout/base.html' %} {% block content %}
{% if podcast %}
<div class="col-12 text-center home-header">
    <h1 class="py-2">{{podcast.podcast_title}}</h1>
</div>
<div class="col-12 pt-2" id="home-podcasts">
    <div class="row mx-0">
        <div class="col-12 text-center">
            <img class="card-img-top index-img" src="{{podcast.podcast_imgurl}}">
            <div class="card-body">
                <h5 class="card-title text-center">Released in {{podcast.release_year}}</h5>
                <p class="card-text">{{podcast.description}}</p>
                <p class="card-text">Number of episodes: {{podcast.no_episodes}}</p>
                {% if 'username' in session %}
                <a role="button" class="btn btn-warning" href="{{podcast.podcast_link}}" target="_blank" rel="noopener"
                    aria-label="Listen to {{podcast.podcast_title}} here">Listen here</a>
                {% else %}
                <a role="button" class="btn btn-warning" href="{{url_for('login')}}" aria-label="Login">Login to
                    Listen</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}