{% block form_update %}
<form action="" method='POST'>
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.podcast_title.label(class="form-control-label form-label")}}
        {% if form.podcast_title.errors %}
        {{ form.username(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.podcast_title.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.podcast_title(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.podcast_imgurl.label(class="form-control-label form-label")}}
        {% if form.podcast_imgurl.errors %}
        {{ form.podcast_imgurl(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.podcast_imgurl.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.podcast_imgurl(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.origin.label(class="form-check-label form-label")}}
        {% if form.origin.errors %}
        {{ form.origin(class="form-check form-check-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.origin.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        <div class="radio-form">
            {% for subfield in form.origin %}
            <tr>
                <td>{{ subfield }}</td>
                <td>{{ subfield.label }}</td>
            </tr>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.release_year.label(class="form-control-label form-label")}}
        {% if form.release_year.errors %}
        {{ form.release_year(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.release_year.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.release_year(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.description.label(class="form-control-label form-label")}}
        {% if form.description.errors %}
        {{ form.description(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.description.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.description(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.is_favourite.label(class="form-control-label form-label")}}
        {% if form.is_favourite.errors %}
        {{ form.is_favourite(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.is_favourite.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.is_favourite(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.no_episodes.label(class="form-control-label form-label")}}
        {% if form.no_episodes.errors %}
        {{ form.no_episodes(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.no_episodes.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.no_episodes(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.podcast_link.label(class="form-control-label form-label")}}
        {% if form.podcast_link.errors %}
        {{ form.podcast_link(class="form-control form-control-lg is-invalid")}}
        <div class="invalid-feedback">
            {% for error in form.podcast_link.errors %}
            <span> {{error}} </span>
            {% endfor %}
        </div>
        {% else %}
        {{ form.podcast_link(class="form-control form-control-lg")}}
        {% endif %}
    </div>
    <div class="form-group" id="add-button">
        {{ form.submit(class="btn btn-warning")}}
    </div>
</form>
{% endblock %}