<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="The best true crime podcasts from UK, Australia and USA">
  <meta name="author" content="Mal C-U">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
  <title>Someone knows something</title>
</head>

<body>
  <!--Container wrapping entire page-->
        <!--Top navigation bar-->
       {% include 'layout/navbar.html' %}
  <div class="container-fluid d-flex p-0" id="page_wrapper">
    <!--Left side of the page containing sidebar-->
    <div id="sidebar_wrapper">
      <!--Page logo-->
      <div class="logo sidebar-item">
        <img src="/static/img/logo.png" id="logo" />
      </div>
      <!--Sidebar content-->
      <div class="sidebar_list">
        <ul class="list-group d-flex justify-content-center my-lg-5">
          <li class="nav-item sidebar-item py-md-4">
            <a class="nav-link active sidebar-link" href="{{url_for('recommended')}}">Recommended</a>
          </li>
          <li class="nav-item sidebar-item">
            <a class="nav-link sidebar-link py-md-4" href="#">Users Picks</a>
          </li>
          <li class="nav-item sidebar-item py-md-4">
            <a class="nav-link sidebar-link" href="#">Login</a>
          </li>
          <li class="nav-item sidebar-item py-md-4">
            <a class="nav-link sidebar-link" href="{{url_for('register')}}">Register</a>
          </li>
        </ul>
      </div>
    </div>
    <!--Content side of the page-->
    <div class="container-fluid  mx-0 px-0" id="content_wrapper">

      <!--Page content-->
      <div id="page_content" class="row mx-0">
        <div class="col-12 text-center">
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert h4 alert-{{ category }}">
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
          {% endwith %}
      </div>
        {% block content %} {% endblock %}
      </div>
    </div>
    <!--Footer-->
    <footer class="container-fluid m-0">
      <div class="row no-gutters m-0 p-0">
        <div class="col-sm-12 col-md-6 text-right py-2">
          <a href="https://www.instagram.com/" target="_blank" aria-label="Find us on Instagram" rel="noopener">
            <i class="footer-icon fab fa-instagram px-2"></i>
          </a>
          <a href="https://www.facebook.com/" target="_blank" aria-label="Find us on Facebook" rel="noopener">
            <i class="footer-icon fab fa-facebook-f px-2"></i>
          </a>
          <a href="https://www.twitter.com/" target="_blank" aria-label="Find us on Twitter" rel="noopener">
            <i class="footer-icon fab fa-twitter px-2"></i>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 text-right p-2"><small>© 2020 Copyright MalC-U all rights reserved</small>
          <a href="https://github.com/malc-u" target="_blank" aria-label="Find us on Facebook" rel="noopener">
            <i class="footer-icon fab fa-github px-2"></i></a></div>
      </div>
    </footer>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="/static/js/scripts.js"></script>
</body>

</html>
