{% block sidebar %}
<div id="sidebar-wrapper">
  <!--Page logo-->
  <div class="logo sidebar-item">
    <a href="{{url_for('index')}}" aria-label="Someone Knows Something Logo">
      <img src="/static/img/logo.png" id="logo" alt="logo"/></a>
  </div>
  <!--Sidebar content-->
  <div>
    <ul class="list-group d-flex justify-content-center my-lg-5">
      <li class="nav-item sidebar-item py-md-4">
        <a class="nav-link active sidebar-link" href="{{url_for('recommended')}}">Recommended</a>
      </li>
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="{{url_for('favourites')}}">Users Picks</a>
      </li>
      {% if 'username' in session %}
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="{{url_for('australian')}}">Australian</a>
      </li>
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="{{url_for('british')}}">British</a>
      </li>
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="{{url_for('american')}}">American</a>
      </li>
      {% else %}
      <li class="nav-item sidebar-item py-md-4">
        <a class="nav-link sidebar-link" href="{{url_for('login')}}">Login</a>
      </li>
      <li class="nav-item sidebar-item py-md-4">
        <a class="nav-link sidebar-link" href="{{url_for('register')}}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock%}