{% block sidebar %}
<div class="sidebar_list">
    <ul class="list-group d-flex justify-content-center my-lg-5">
      <li class="nav-item sidebar-item py-md-4">
        <a class="nav-link active sidebar-link" href="{{url_for('recommended')}}">Recommended</a>
      </li>
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="{{url_for('favourites')}}">Users Picks</a>
      </li>
      {% if 'username' in session %}
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="#">Australian</a>
      </li>
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="{{url_for('british')}}">British</a>
      </li>
      <li class="nav-item sidebar-item">
        <a class="nav-link sidebar-link py-md-4" href="#">American</a>
      </li>
      {% else %}
      <li class="nav-item sidebar-item py-md-4">
        <a class="nav-link sidebar-link" href="{{url_for('login')}}">Login</a>
      </li>
      <li class="nav-item sidebar-item py-md-4">
        <a class="nav-link sidebar-link" href="{{url_for('register')}}">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>
{% endblock%}